{{ define "bokwoon95/plainsimple header" }}
<div class="hero-banner flex justify-center items-center">
  <div class="tc white">
    <h1 class="f1 text-border" contenteditable="true">My Blog</h1>
    <h2 class="f3 text-border" contenteditable="true">Where I write about stuff</h2>
  </div>
</div>
{{ end }}

{{ define "bokwoon95/plainsimple footer" }}
<div class="flex justify-center mt5">
  <div>Copyright &copy; 2020 <span class="" contenteditable="true">Bok Woon</span>. All rights reserved.</div>
</div>
{{ end }}
