html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
}
.hero-banner {
  width: 100vw;
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://source.unsplash.com/rnAsJ38qio8/1200x600);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
}
.text-border {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.contenteditable-global {
  border-style: dotted;
  background-color: rgba(51, 170, 51, .4);
}
.contenteditable-local {
  border-style: dotted;
  background-color: rgba(240, 255, 0, 0.4);
}
